footer {
    background-color: var(--menu-color); 
    color: var(--text-color);
    margin-top: auto; 
    padding: 0.4%;
    text-align: center; 
    font-size: 1.1rem; 
    font-family: var(--fonte-padrao);
    position: fixed;
    bottom: 0;
    width: 100%; 
    z-index: 1000;
    align-items: center; 
}

@media (max-width: 768px) {
    footer {
        font-size: 0.9rem; 
    }
}