<div>
  <p class="free-game">Escolha o jogo perfeito para você!</p>
</div>
<div class="game-selection-container">

    <div class="card" >
      <div class="card-content">
        <p class="option-game" (click)="showGameFree()">Jogo livre</p>
      </div>
    </div>

    <div class="card" >
      <div class="card-content">
        <p class="option-game">Jogo cronometrado</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <p class="option-game">Jogo aleatório</p>
      </div>
    </div>

    <div class="card" >
      <div class="card-content">
        <p class="option-game" (click)="goBack()">Voltar</p>
      </div>
    </div>
</div>
  