<div>
  <p class="free-game">Descubra se puder!</p>
</div>
<div class="game-selection-container">
    <div class="card">
      <div class="card-content">
        <h2>Jogo aleatório</h2>
      </div>
    </div>

    <div class="card" >
      <div class="card-content">
        <h2>Jogo livre</h2>
      </div>
    </div>

    <div class="card" >
      <div class="card-content">
        <h2>Jogo cronometrado</h2>
      </div>
    </div>

    <div class="card" >
      <div class="card-content">
        <h2 (click)="goBack()">Voltar</h2>
      </div>
    </div>
</div>
  