<div class="contact-container">
    <div class="textoPrincial">
        <h2>Conecte-se comigo nas principais redes sociais.</h2>
    </div>  
  <div class="contact-card">
    <div class="contact-card-inner">
      <div class="contact-card-front">
        <strong><i class="fab fa-linkedin"></i> LinkedIn</strong>
      </div>
      <div class="contact-card-back">
        <p>Conecte-se no LinkedIn!</p>
        <a href="https://www.linkedin.com/in/anna-karoline-oliveira-silva-prado-89193315a/" target="_blank">Anna Karoline O. S. Prado</a>
      </div>
    </div>
  </div>

  <div class="contact-card">
    <div class="contact-card-inner">
      <div class="contact-card-front">
        <strong><i class="fab fa-github"></i> GitHub</strong>
      </div>
      <div class="contact-card-back">
        <p>Veja meus projetos no GitHub!</p>
        <a href="https://github.com/annaKarolinePrado" target="_blank">annaKarolinePrado</a>
      </div>
    </div>
  </div>
  
  <div class="contact-card">
    <div class="contact-card-inner">
      <div class="contact-card-front">
        <strong><i class="fab fa-instagram"></i> Instagram</strong>
      </div>
      <div class="contact-card-back">
        <p>Siga no Instagram!</p>
        <a href="https://www.instagram.com/annakarolprado/" target="_blank">&#64;annakarolprado</a>
      </div>
    </div>
  </div>
  
  <div class="contact-card">
    <div class="contact-card-inner">
      <div class="contact-card-front">
        <strong><i class="fab fa-whatsapp"></i> WhatsApp</strong>
      </div>
      <div class="contact-card-back">
        <p>Mande uma mensagem no WhatsApp!</p>
        <a href="https://wa.me/1234567890" target="_blank"> +55 48 93456-7890</a>
      </div>
    </div>
  </div>

  <div class="contact-card">
    <div class="contact-card-inner">
      <div class="contact-card-front">
        <strong><i class="fas fa-envelope"></i> Email</strong>
      </div>
      <div class="contact-card-back">
        <p>Envie um e-mail!</p>
        <a href="mailto:games@gmail.com">games&#64;gmail.com</a>
      </div>
    </div>
  </div>
</div>
