.free-game {
    margin-top: -10%;
    font-size: 1.5em;
    color: #6600ff;
    text-shadow: 0 0 10px #6600ff;
    text-align: center;
}
  
.card, .level-easy, .level-hard, .level-back {
    width: 40%;
    height: 11%;
    margin-left: 30%;
    margin-bottom: 5%;
    background-color: var(--menu-color);
    border: 2px solid #6600ff; 
    border-radius: 10px;
    box-shadow: 0 0 5px #6600ff, 0 0 10px #6600ff, 0 0 20px #6600ff;
    text-shadow: 0 0 15px #6600ff;
    cursor: pointer;
    color: #fff;
}
  
.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1em;
    text-align: center;
}

@media (max-width: 765px) {
    .free-game {
        width: 90%;
        margin-left: 5%;
        font-size: 1.3em;
      }
    .card, .level-easy, .level-hard, .level-back {
      margin-bottom: 10%;
      width: 60%;
      height: 10%;
      margin-left: 20%;
      font-size: 1em;
    }
}