<div>
    <p class="free-game">Escolha o jogo perfeito para você!</p>
  </div>
  <div class="game-selection-container">
  
      <div class="card" >
        <div class="card-content">
          <p class="option-game" (click)="showGameBoardEmojis()">4x4 Tabuleiro de Emojis</p>
        </div>
      </div>
  
      <div class="card" >
        <div class="card-content">
          <p class="option-game" (click)="showGameBoardFlower()">4x4 Tabuleiro de Flores</p>
        </div>
      </div>
  
      <div class="card">
        <div class="card-content">
          <p class="option-game" (click)="showGameBoardFruit()">4x4 Tabuleiro de Frutas</p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <p class="option-game" (click)="showGameBoardHand()">4x4 Tabuleiro de Sinais de mão</p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <p class="option-game" (click)="showGameBoardNegativeNumber()">4x4 Tabuleiro de Números negativos</p>
        </div>
      </div>
  
      <div class="card" >
        <div class="card-content">
          <p class="option-game" (click)="goBack()">Voltar</p>
        </div>
      </div>
  </div>