<div class="free-game">
    <p >Escolha o tema</p>
</div>
<div class="game-selection-container">
  
    <div class="card" >
      <div class="card-content" (click)="showGameBoardEmojis()">
        <p class="option-game" >Emojis</p>
      </div>
    </div>
    <div class="card" >
      <div class="card-content" (click)="showGameBoardFlower()">
        <p class="option-game" >Flores</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content" (click)="showGameBoardFruit()">
        <p class="option-game" >Frutas</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content" (click)="showGameBoardHand()">
        <p class="option-game" >Sinais de mão</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content" (click)="showGameBoardNegativeNumber()">
        <p class="option-game" >Números negativos</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content" (click)="showGameBoardTrafficSigns()">
        <p class="option-game" >Placas de trânsito</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content" (click)="showGameBoardAnimals()">
        <p class="option-game" >Animais</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content" (click)="showGameBoardSymbols()">
        <p class="option-game" >Símbolos</p>
      </div>
    </div>

    <div class="card" >
      <div class="card-content" (click)="goBack()">
        <p class="option-game" >Voltar</p>
      </div>
    </div>
</div>