<div>
    <p class="free-game">Escolha o tema que você mais curte!</p>
  </div>
  <div class="game-selection-container">
  
      <div class="card" >
        <div class="card-content">
          <p class="option-game" (click)="showGameBoardEmojis()">Fácil</p>
        </div>
      </div>
  
      <div class="card" >
        <div class="card-content">
          <p class="option-game" (click)="showGameBoardFlower()">Médio</p>
        </div>
      </div>
  
      <div class="card">
        <div class="card-content">
          <p class="option-game" (click)="showGameBoardFruit()">Difícil</p>
        </div>
      </div>
  
      <div class="card" >
        <div class="card-content">
          <p class="option-game" (click)="goBack()">Voltar</p>
        </div>
      </div>
  </div>