<div>
    <p class="free-game">Escolha o tema que você mais curte!</p>
</div>
<div class="game-selection-container">
    <div class="card">
        <div class="card-content" (click)="showGameAleatorio()">
            <p class="option-game" >Aleatório</p>
        </div>
    </div>
  
    <div class="card">
        <div class="card-content">
            <p class="option-game">Fácil</p>
        </div>
    </div>
  
    <div class="card">
        <div class="card-content">
            <p class="option-game">Médio</p>
        </div>
    </div>
  
    <div class="card">
        <div class="card-content">
            <p class="option-game">Difícil</p>
        </div>
    </div>
  
    <div class="card">
        <div class="card-content" (click)="goBack()">
            <p class="option-game" >Voltar</p>
        </div>
    </div>
</div>
