<p class="next-player">Vez do jogador: {{ currentPlayer }}</p> 

<div class="board">
    <div *ngFor="let row of board; let i = index" class="row">
      <div *ngFor="let cell of row; let j = index" class="cell" (click)="makeMove(i, j)">
        <span [ngClass]="{'x-cell': cell === 'X', 'o-cell': cell === 'O'}">{{ cell }}</span>
      </div>
    </div>
</div>
  
<div *ngIf="gameOver" class="overlay">
    <p>{{ winner === 'Empate' ? 'O jogo terminou em empate!' : winner + ' ganhou!' }}</p>
    <button (click)="goBack()">Voltar ao Início</button>
    <button (click)="resetBoard()" class="reset">Reiniciar Jogo</button> 
</div>

<div >
    <button (click)="goBack()" class="give-up">Desistir</button>
</div>