<p>Vez do jogador: {{ currentPlayer }}</p> 

<div *ngIf="!gameOver" class="board">
    <div *ngFor="let row of board; let i = index">
      <button *ngFor="let cell of row; let j = index"
              class="cell"
              (click)="makeMove(i, j)">
        {{ cell }}
      </button>
    </div>
   
</div>
 
<div *ngIf="gameOver" class="overlay">
    <p *ngIf="winner !== 'Empate'">{{ winner }} venceu!</p>
    <p *ngIf="winner === 'Empate'">O jogo terminou em empate!</p>
    <button (click)="goBack()">Voltar ao início</button>
</div>
  