<div (click)="homeOptionGame()" *ngIf="showOptionsGame" >
    <div>
      <p class="free-game">Escolha o jogo perfeito para você!</p>
    </div>
    <div class="card">
      <div class="card-content" >
        <p class="option-game">Jogo aleatório</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content" (click)="homeConometroGame()">
        <p class="option-game">Jogo cronometrado</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content" (click)="homeLevelGame()">
        <p class="option-game">Níveis</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content" (click)="goBack()">
        <p class="option-game">Voltar</p>
      </div>
    </div>
</div>
  

<div (click)="homeLevelGame()" *ngIf="showLevelGame" >
    <div>
      <p class="free-game">Escolha o jogo perfeito para você!</p>
    </div>
    <div class="card">
      <div class="card-content" (click)="homeNameGameEasy()">
        <p class="option-game">Tabuleiro 4x4</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content" (click)="homeNameGameAverage()">
        <p class="option-game">Tabuleiro 4x6</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content" (click)="homeNameGameHard()">
        <p class="option-game">Tabuleiro 4x8</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content" (click)="goBack()">
        <p class="option-game">Voltar</p>
      </div>
    </div>
</div>



<div class="cronometrado" (click)="homeConometroGame()" *ngIf="showConometroGame" >
    <p class="">Jogo<br>cronometrado</p>
    <div>
        <img class="nivel-facil" (click)="homeConometroGame()" *ngIf="showNameGame">
    </div>
    <!--<div>
        <img class="nivel-medio" (click)="homeConometroGame()" *ngIf="showNameGame">
    </div>
    <div>
        <img class="nivel-dificil" (click)="homeConometroGame()" *ngIf="showNameGame">
    </div>-->
</div>

<div  class="names" *ngIf="showNameGameEasy">
    <h2 class="name-player">Informe os nomes dos jogadores</h2>
    <div class="divPlayer">
        <label for="player1" class="player1">Jogador X:</label>
        <input id="player1" [(ngModel)]="player1" name="player1">
        <div *ngIf="player1Error" class="error">{{ player1Error }}</div>
    </div>

    <div class="divPlayer">
        <label for="player2" class="player2">Jogador O:</label>
        <input id="player2" [(ngModel)]="player2" name="player2">
        <div *ngIf="player2Error" class="error">{{ player2Error }}</div>
    </div>
    <div class="buttonPlayer">
        <button (click)="startGameEasy()">Iniciar Jogo</button>
    </div>
    <!--
    <div class="buttonBack">
        <button (click)="backToOption()">Voltar</button>
    </div>
    -->
</div>



<div  class="names" *ngIf="showNameGameAverage">
    <h2 class="name-player">Informe os nomes dos jogadores</h2>
    <div class="divPlayer">
        <label for="player1" class="player1">Jogador X:</label>
        <input id="player1" [(ngModel)]="player1" name="player1">
        <div *ngIf="player1Error" class="error">{{ player1Error }}</div>
    </div>

    <div class="divPlayer">
        <label for="player2" class="player2">Jogador O:</label>
        <input id="player2" [(ngModel)]="player2" name="player2">
        <div *ngIf="player2Error" class="error">{{ player2Error }}</div>
    </div>
    <div class="buttonPlayer">
        <button (click)="startGameAverage()">Iniciar Jogo</button>
    </div>
    <!--
    <div class="buttonBack">
        <button (click)="backToOption()">Voltar</button>
    </div>
    -->
</div>


<div  class="names" *ngIf="showNameGameHard">
    <h2 class="name-player">Informe os nomes dos jogadores</h2>
    <div class="divPlayer">
        <label for="player1" class="player1">Jogador X:</label>
        <input id="player1" [(ngModel)]="player1" name="player1">
        <div *ngIf="player1Error" class="error">{{ player1Error }}</div>
    </div>

    <div class="divPlayer">
        <label for="player2" class="player2">Jogador O:</label>
        <input id="player2" [(ngModel)]="player2" name="player2">
        <div *ngIf="player2Error" class="error">{{ player2Error }}</div>
    </div>
    <div class="buttonPlayer">
        <button (click)="startGameHard()">Iniciar Jogo</button>
    </div>
    <!--
    <div class="buttonBack">
        <button (click)="backToOption()">Voltar</button>
    </div>
    -->
</div>
