
<div>
    <h2>Informe os nomes dos jogadores</h2>
    <div class="divPlayer">
        <label for="player1" class="player1">Jogador X:</label>
        <input id="player1" [(ngModel)]="player1" name="player1">
        <div *ngIf="player1Error" class="error">{{ player1Error }}</div>
    </div>
    <div class="divPlayer">
        <label for="player2" class="player2">Jogador O:</label>
        <input id="player2" [(ngModel)]="player2" name="player2">
        <div *ngIf="player2Error" class="error">{{ player2Error }}</div>
    </div>
    <div class="buttonPlayer">
        <button (click)="startGame()">Iniciar Jogo</button>
    </div>
</div>

