
<div class="option" (click)="homeOptionGame()" *ngIf="showOptionsGame" >
    <div class="image-container">
        <img class="img-niveis" (click)="homeLevelGame()" src="/assets/outros/circulo-roxo.png">
        <span class="text-overlay">Nível</span>
    </div>
    <div class="image-container">
        <img class="img-cronometro" (click)="homeConometroGame()" src="/assets/outros/circulo-roxo.png">
        <span class="text-overlay">Jogo<br>cronometrado</span>
    </div>
    <div class="image-container">
        <img class="img-voltar" (click)="goBack()" src="assets/outros/img-voltar.png">
        <span class="text-option"></span>
    </div>
</div>

<div class="level" (click)="homeLevelGame()" *ngIf="showLevelGame" >
    <h2 class="niveis">Dificuldade</h2>
    <div class="image-container" (click)="homeNameGame()">
        <img class="nivel-facil" src="/assets/outros/circulo-roxo.png">
        <span class="text-overlay">Fácil</span>
    </div>
    <div class="image-container" (click)="homeLevelGame()">
        <img class="nivel-medio" src="/assets/outros/circulo-roxo.png">
        <span class="text-overlay">Médio</span>
    </div>
    <div class="image-container" (click)="homeLevelGame()">
        <img class="nivel-dificil" src="/assets/outros/circulo-roxo.png">
        <span class="text-overlay">Difícil</span>
    </div>
</div>

<div class="cronometrado" (click)="homeConometroGame()" *ngIf="showConometroGame" >
    <p class="">Jogo<br>cronometrado</p>
    <div>
        <img class="nivel-facil" (click)="homeConometroGame()" *ngIf="showNameGame">
    </div>
    <div>
        <img class="nivel-medio" (click)="homeConometroGame()" *ngIf="showNameGame">
    </div>
    <div>
        <img class="nivel-dificil" (click)="homeConometroGame()" *ngIf="showNameGame">
    </div>
</div>

<div  class="names" *ngIf="showNameGame">
    <h2 class="name-player">Informe os nomes dos jogadores</h2>
    <div class="divPlayer">
        <label for="player1" class="player1">Jogador X:</label>
        <input id="player1" [(ngModel)]="player1" name="player1">
        <div *ngIf="player1Error" class="error">{{ player1Error }}</div>
    </div>

    <div class="divPlayer">
        <label for="player2" class="player2">Jogador O:</label>
        <input id="player2" [(ngModel)]="player2" name="player2">
        <div *ngIf="player2Error" class="error">{{ player2Error }}</div>
    </div>
    <div class="buttonPlayer">
        <button (click)="startGameEasy()">Iniciar Jogo</button>
    </div>
    <div class="buttonBack">
        <button (click)="backToOption()">Voltar</button>
    </div>
</div>



